@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body{
	background-image: url("../media/bg.gif");
	background-size: 100% 100%;
	font-family: 'Press Start 2P';
	user-select: none;
	overflow: hidden;
}

p {
  text-transform: lowercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border-width: 4px 0;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5;
  left: 10;
}

p span {
  font: 700 4em/1 "Press Start 2P";
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  background: url("../media/fill.png") repeat-y;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

marquee {
	position: absolute;
	top: 80;
	left: 95;
    width: 400;
    overflow: hidden;
    color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  color: inherit;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

button {
  font-size: 16px;
  color: #eee;
  position: absolute;
  top: 5;
  right: 5;
  transform: translate(0, 0);
  width: 50px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: #0000A0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

button.fade:hover {
  opacity: 1;
}

.fade {
  opacity: 0;
}